extends layout

block content
	br
	br
	br
	H1(class='text-center') Hello I am, #{title}!
	br
	br
	H3(class='text-center') Go to #[a(href="/contact") Contact Page] for Testing the ExpressJS Contact Form.